body
	{
		margin: 0;
		font-family: helvetica, arial, sans-serif;
		font-size: 20;
		color: #333333;
		overflow-x: hidden;
	}

#TitleBar 
		{
			background-color: #7433F1;
			width: 100%;
			height: 20%;
			color:white
        }
#content
			{
				position: relative;
				font-family: helvetica, arial, sans-serif;
				float: left;
				font-size: 20;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

			}
.leftContent {
			    float: left;
				width: 50%;
				height: 100%;
				background: white;
					
			 }
.leftContent input[type=text] {
								border-radius: 4px;
								float: left;
								padding: 10px;
								width: 70%;
								border-color: black;
								margin-top: 5%;
								margin-left: 5%;
								font-size: 18px;
							
							  }
.leftContent input[type=submit] {
								border-radius: 4px;
								float: left;
								color:white;
								padding: 10px;
								width: 20%;
								background-color: #7433F1;
								border-color: #7433F1;
								margin-top: 5%;
								margin-left: 2%;
								font-size: 18px;
							
							  }
.rightContent	
			{
				float: left;
				width: 50%;
				height: 100%;
				background: #F3ECFE;
					
			 }
table 
				{
					padding: 5%;
				}
table th
					{
						width: 3%;
						font-weight: bolder;
						text-align: left;
					}

table td 
				{
					

					text-align: left;
				}
#name 
      {
		color: #333;
  		text-decoration: none;  
	  }

